version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: devops-project-api:latest
    container_name: task-manager-api
    ports:
      - "5000:5000"
    environment:
      - FLASK_DEBUG=1
      - LOG_LEVEL=INFO
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:5000/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
